main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
    background-color: #000000;
}

.content {
    color: whitesmoke;
}